<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{- .Title -}}</title>

    <!-- Prematurely connect to the servers to save some milliseconds -->
    <!-- <link rel="preload"> is only in recent browser versions, so we keep "dns-prefetch" and "preconnect" -->
    <!-- <link rel="prefetch" is loads content the user may request *after* the page loads -->
    <link rel="preload" href="{{ "styles.css" | absLangURL }}" as="style" />

    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/" />
    <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com/" />
    <link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style">

    {{ if and $.Site.Params.piwik (and $.Site.Params.piwik.host $.Site.Params.piwik.enable) -}}
    <link rel="dns-prefetch" href="{{ $.Site.Params.piwik.host }}" />
    <link rel="preconnect" href="{{ $.Site.Params.piwik.host }}" />
    {{- end -}}

    {{- if and $.Site.Params.widgets $.Site.Params.widgets.search -}}
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" />
    <!-- Cache the scripts and JSON index -->
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.3/lunr.min.js" as="script" />
    <link rel="preload" href="{{ "js/search.min.js" | absLangURL }}" as="script" />
    <link rel="preload" href="{{ "index.json" | absLangURL }}" as="fetch" />
    {{ end -}}

    {{- if $.Site.Params.iubenda.enable_cookie_policy -}}
    <link rel="preload" href="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" as="script" />
    {{- end -}}

    {{- $.Scratch.Set "desc" "" -}}
    {{- with $.Site.Params.description -}}{{- $.Scratch.Set "desc" . -}}{{- end -}}
    {{- with .Summary -}}{{- $.Scratch.Set "desc" . -}}{{- end -}}
    {{- with $.Params.description -}}{{- $.Scratch.Set "desc" . -}}{{- end -}}
    {{- if (not (eq ($.Scratch.Get "desc") "")) -}}
    <meta name="description" itemprop="description" content="{{ replace ($.Scratch.Get "desc") "\n" " " }}" id="desc">
    {{- end -}}

    {{ .Hugo.Generator }}

    {{- if .RSSLink -}}<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Feed" href="{{ .RSSLink }}">{{ end }}

    {{- if .Params.tags -}}
      <meta name="keywords" itemprop="keywords" content="{{ delimit .Params.tags "," }}" id="keywords">
    {{- end -}}

    <link rel="canonical" href="{{ .URL | absURL }}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {{ if $.Site.Params.hashover }}<link rel="stylesheet" type="text/css" href="{{ "hashover/comments.css" | absLangURL }}" integrity="sha384-Ef/dA/KgOCpRpXdcwlTPVy3C83rE6PlHVZqLyDYDPnegQm7qtWkEG5aTRGGaizd6">{{ end }}
    <link rel="stylesheet" type="text/css" href="{{ "styles.css" | absLangURL }}">

    {{ if .Content -}}
    {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
    {{ range $url := $urls -}}
      {{ $url := (strings.TrimPrefix "<img src=\"" $url) -}}
      {{ $url := strings.TrimSuffix "\"" $url -}}
      <link rel="preload" href="{{ $url | htmlUnescape | safeHTML }}" as="image" />
    {{ end -}}
    {{ end -}}

    {{ if and $.Site.Params.piwik (and $.Site.Params.piwik.host $.Site.Params.piwik.enable) -}}
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ $.Site.Params.piwik.host }}/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '{{ index $.Site.Params.piwik "site_id" | default 1 }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();

    </script>
    {{ if $.Site.Params.piwik.track_nojs -}}
    <noscript><p><img src="{{ $.Site.Params.piwik.host }}/piwik.php?idsite={{ index $.Site.Params.piwik "site_id" | default 1 }}&rec=1" style="border:0;" alt="" /></p></noscript>
    {{ end -}}
    {{- else -}}
    <script>var _paq = undefined;</script>
    {{- end -}}
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <div id="site-container">
      <div id="site-header">
        <header class="small-text-center medium-text-left">
          <a href="{{ .Site.BaseURL }}">
            <span id="site-title" itemprop="name">{{ .Site.Title }}</span>
            {{ with .Site.Params.tagline }}<br/><span id="site-tagline">{{ . }}</span>{{ end }}
          </a>
        </header>
        <label for="menu-toggle-box"><div id="menu-toggle" class="main-nav no-select"><span><span class="fa fa-bars"></span> MENU</span></div></label>
        <input type="checkbox" id="menu-toggle-box" class="hide"/>
        <nav id="main-nav">
          <ul class="menu">
          {{- partial "nested_menu.html" (dict "menu" .Site.Menus.main "page" . "site" .Site) . -}}
          </ul>
        </nav>
      </div>
      <div id="main-container" class="row" role="main" itemprop="mainContentOfPage">
        {{ with $.Site.Params.alert }}
          <div class="alert small-full">
            <p>{{ . | markdownify }}</p>
          </div>
        {{ end }}
        {{ if .Site.Params.leftsidebar }}{{ partialCached "sidebar.html" . }}{{ end }}
        {{ block "main_content" . }}{{ end }}
        {{ if (not .Site.Params.leftsidebar) }}{{ partialCached "sidebar.html" . }}{{ end }}
      </div>
      <footer class="row">
        <div class="small-full medium-{{ if $.Site.Params.piwik.enable_optout -}}third{{ else }}half{{ end }} small-text-center medium-text-left medium-left row">
          <div class="small-full">
            <small>
              &copy; {{now.Format "2006"}}
              <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <span itemprop="name">{{ .Site.Title }}</span>
              </span>
            </small>
          </div>
          <div class="small-full row">
            {{ $iubenda := and $.Site.Params.iubenda.id (or (not $.Site.Params.iubenda.pro.enable_pro) (not $.Site.Params.iubenda.pro.disable_footer_link)) }}
            {{ if or ($.Site.GetPage "page" "privacy-policy.md") $iubenda }}
            <div class="row-item">
              {{ if $iubenda }}
                {{ partial "iubenda/button.html" . }}
              {{ else }}
                {{ with $.Site.GetPage "page" "privacy-policy.md" }}
                <small>
                  <a href="{{- ref . "privacy-policy.md" -}}">Privacy Policy</a>
                </small>
                {{ end }}
              {{ end }}
            </div>
            {{ end }}
            {{ if ($.Site.GetPage "page" "terms-of-use.md") }}
            <div class="row-item{{ if $iubenda }} iubenda-compat{{ end }}">
              {{ with $.Site.GetPage "page" "terms-of-use.md" -}}
              {{ if not $iubenda }}
              <small>
              {{ end }}
                <a href="{{- ref . "terms-of-use.md" -}}">Terms of Use</a>
              {{ if not $iubenda }}
              </small>
              {{ end }}
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
        {{ if and $.Site.Params.piwik $.Site.Params.piwik.enable_optout -}}
        {{- with $.Site.Params.piwik.host -}}
        <div class="small-full medium-third small-text-center medium-text-center small-right">
          This site uses <a href="http://piwik.org/" rel="nofollow noreferrer">Piwik Analytics</a>.<br/>
          <a href="#" id="toggle-tracking">Click here</a> to opt <span id="toggle-tracking-text">out</span>.
        </div>
        {{- end -}}
        {{- end }}
        <div class="small-full medium-{{ if $.Site.Params.piwik.enable_optout -}}third{{ else }}half{{ end }} small-text-center medium-text-right" style="align-self: center;" id="social-icons">
          {{ with .Site.Params.social.deviantart }}<a href="https://{{ . }}.deviantart.com" rel="me nofollow">
            <span class="fa fa-deviantart"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.email }}<a href="mailto:{{ . }}" rel="me nofollow">
            <span class="fa fa-envelope"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.facebook }}<a href="https://facebook.com/{{ . }}" rel="me nofollow">
            <span class="fa fa-facebook-official"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.github }}<a href="https://github.com/{{ . }}" rel="me nofollow">
            <span class="fa fa-github"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.gitlab }}<a href="https://gitlab.com/{{ . }}" rel="me nofollow">
            <span class="fa fa-gitlab"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.googleplus }}<a href="https://plus.google.com/{{ . }}"  rel="me nofollow">
            <span class="fa fa-google-plus"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.instagram }}<a href="https://instagram.com/{{ . }}" rel="me nofollow">
            <span class="fa fa-instagram"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.linkedin }}<a href="https://linkedin.com/in/{{ . }}" rel="me nofollow">
            <span class="fa fa-linkedin"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.medium }}<a href="https://medium.com/@{{ . }}" rel="me nofollow">
            <span class="fa fa-medium"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.pinterest }}<a href="https://pinterest.com/{{ . }}" rel="me nofollow">
            <span class="fa fa-pinterest"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.quora }}<a href="https://quora.com/profile/{{ . }}" rel="me nofollow">
            <span class="fa fa-quora"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.reddit }}<a href="https://www.reddit.com/user/{{ . }}" rel="me nofollow">
            <span class="fa fa-reddit-alien"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.slack_org }}<a href="https://{{ . }}.slack.com" rel="me nofollow">
            <span class="fa fa-slack"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.soundcloud }}<a href="https://soundcloud.com/{{ . }}" rel="me nofollow">
            <span class="fa fa-soundcloud"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.spotify }}<a href="https://open.spotify.com/user/{{ . }}" rel="me nofollow">
            <span class="fa fa-spotify"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.steam }}<a href="https://steamcommunity.com/{{ . }}" rel="me nofollow">
            <span class="fa fa-steam"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.telegram }}<a href="http://t.me/{{ . }}" rel="me nofollow">
            <span class="fa fa-telegram"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.tumblr }}<a href="https://{{ . }}.tumblr.com/" rel="me nofollow">
            <span class="fa fa-tumblr"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.twitch }}<a href="https://www.twitch.tv/{{ . }}" rel="me nofollow">
            <span class="fa fa-twitch"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.twitter }}<a href="https://twitter.com/{{ . }}" rel="me nofollow">
            <span class="fa fa-twitter"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.vimeo }}<a href="https://vimeo.com/{{ . }}" rel="me nofollow">
            <span class="fa fa-vimeo"></span>
          </a>{{ end }}
          {{ with .Site.Params.social.youtube }}<a href="https://www.youtube.com/user/{{ . }}" rel="me nofollow">
            <span class="fa fa-youtube"></span>
          </a>{{ end }}
        </div>
      </footer>
    </div>
    {{- if $.Site.Params.widgets.search -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.3/lunr.min.js"></script>
    <script src="{{ "js/search.js" | absLangURL }}" type="text/javascript"></script>
    <!--script src="{{ "js/search.min.js" | absLangURL }}" type="text/javascript" integrity="sha384-BWCGLBKRFvQSIGRnqOb8zW0+fYDIflgWpakpQSvIr9ahUILOaidTxlqnLEybgAZ+"></script-->
    <script>
      var lunrIndex = undefined;
      loadIndex("{{ "index.json" | absURL }}").then(
        function(index) { lunrIndex = index; },
        function(status){}
      );
    </script>
    {{- end -}}
    {{- if and $.Site.Params.piwik (and $.Site.Params.piwik.enable $.Site.Params.piwik.enable_ajax) -}}
    <script>

    function ajax(url) {
      return new Promise(function(resolve, reject){
        var req = new XMLHttpRequest();
        req.open("GET", url, true);
        req.withCredentials = true;
        req.onload = function() {
          var status = req.status;
          if (status === 200)
            resolve(req.response);
          else
            reject(status);
        };
        req.send(null);
      });
    }

    function isTracked(data) {
      var dom = (new DOMParser()).parseFromString(data, "application/xml");
      return dom.getElementsByTagName("result")[0].innerHTML === "1"
    }

    function updateAnalyticsText() {
      ajax('{{ $.Site.Params.piwik.host | safeJS }}/index.php?module=API&method=AjaxOptOut.isTracked')
      .then(function(data){
        console.log("Update: " + isTracked(data));
        document.getElementById("toggle-tracking-text").innerText = isTracked(data) ? "out" : "in";
      });
    }

    function toggleHandler(event) {
      event.preventDefault();
      event.stopPropagation();
      ajax("{{ $.Site.Params.piwik.host | safeJS }}/index.php?module=API&method=AjaxOptOut.isTracked")
      .then(function(data) {
        console.log("Toggle: " + isTracked(data));
        ajax('{{ $.Site.Params.piwik.host }}/index.php?module=API&method=AjaxOptOut.do' + (isTracked(data) ? 'Ignore' : 'Track')).then(updateAnalyticsText);
      });
    }

    document.getElementById("toggle-tracking").addEventListener("click", toggleHandler);
    window.addEventListener("load", updateAnalyticsText);
    </script>
    {{- end -}}
    {{- if and $.Site.Params.iubenda.pro.enable_cookie_policy (and $.Site.Params.iubenda.id $.Site.Params.iubenda.pro.site_id) -}}
    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {
        cookiePolicyId: {{ $.Site.Params.iubenda.id }},
        siteId: {{ $.Site.Params.iubenda.pro.site_id }},
        lang: "en",
        consentOnScroll: true
        {{- if not $.Site.Params.iubenda.pro.prior_consent }},
        priorConsent: false
        {{- end }},
        banner: {
          slideDown: false,
          applyStyles: false,
          content: "<p>This website or its third party tools use cookies, which are necessary to its functioning and required to achieve the purposes illustrated in the %{cookie_policy_link}. If you want to know more or withdraw your consent to all or some of the cookies, please refer to the cookie policy. By closing this banner, scrolling this page, clicking a link, or continuing to browse otherwise, you agree to the use of cookies.</p>"
        }
      };
    </script>
    <script type="text/javascript" src= "//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>
    {{- end -}}
  </body>
</html>
